h1 h2 h3{
    margin-top: 0;
    color: #111; /* Um pouco mais escuro para excelente contraste */
}
p{
    font-family: sans-serif;
}

p:last-child {
    margin-bottom: 0; /* Zera a margem apenas do último parágrafo do container */
}

/*Cor da pagina*/
body{
    background-color: #f4f4f9; /* Cor das faixas laterais */
    margin: 0;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 0.05em; /* Ajusta o espacinho entre as letras */
    line-height: 1.6;        /* Deixa o espaçamento entre as linhas confortável como o da extensão */
}

.container{
    background-color: #f4f1ea;
    max-width: 800px; 
    margin: 0 auto;
    padding: 40px 20px;
}

